
:root {
    --text-color: #1a1c20;
    --background-color: #eeeff1;
    --link-color: #4a76ee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;

}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 80px;
}

nav .left a {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}
nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin: 5px;
}

/* SECTION 1: Hero */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 50px;
    min-height: 100vh;
    transform: translateY(-50px);  /* moves hero 50px up */
}


.hero-section .text {
    flex: 5;
    font-size: 18px;
}

.hero-section .text h2 {
    font-size: 40px;
}

.hero-section .text .links {
    margin-top: 40px;
}

.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    cursor: pointer;
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;

}

.hero-section .headshot img {
    border-radius: 50%;
    width: 350px;
}

/* SECTION 2: Skills */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    font-size: 35px;
    text-align: center;}

 .skills-section .text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
    gap: 10px;

}

.skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;

}

.skills-section .cells .cell span{
    font-size: 18px;

}

/* SECTION 3: Projects */

.projects-section {
    padding: 0 50px;
    margin-bottom: 130px;
}

.projects-section h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    
}

.projects-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 10px;
    gap: 40px;
}

.projects-section .cells .cell {
    width: 400px;
    border: 1.5px solid #d3d3d3;
    background-color: white;
    border-radius: 10px;
    overflow    : hidden;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.projects-section .cells .cell img {
    padding: 20px;
    width: auto;
    height: 300px;
    object-fit:fill;
    border-radius: 25px;
}

/* #portfolio-img{
    object-fit: cover;
} */

.projects-section .cells .cell h4 {
    padding: 0 20px 10px 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.projects-section .cells .cell span{
    padding: 0 20px 20px 20px;
    min-height: 160px;
    font-size: 14px;
}

.projects-section .cells .cell a {
    margin: 0 20px 20px 20px;
    border-radius: 5px;
    border: 2px solid var(--link-color);
    background-color: white;
    color: var(--link-color);
    font-size: 16px;
    height: 40px;
    width: 180px;
    transition: 0.3s;   
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;


}

.projects-section .cells .cell a:hover  {
    color: var(--text-color);
    border: 2px solid var(--text-color);
    cursor: pointer;
}
/* SECTION 4: Contact */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}
.contact-section .group .text {
    flex: 3;
    margin-top: 20px; 
}
.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;

}

.contact-section .group form button {
    border: none;
    background-color: var(--link-color);
    color: white;
    font-size: 16px;
    border: none;
    height: 50px;
    transition: 0.3s;
}
.contact-section .group form button:hover {
    background-color: var(--text-color);
    cursor: pointer;
    filter: brightness(0.9);
}
/* RESPONSIVE STYLES */

@media (max-width:960px) {
    .hero-section {
        padding-top: 80px ;
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero-section .text h2 {
        font-size: 35px;
    }
    /* SECTION 2: Skills */
    .skills-section h2 {
        font-size: 35px;
    }
}


@media (max-width:750px) {

    .hero-section {
       flex-direction: column-reverse;
    }
    .hero-section .headshot img{
        width: 300px;

    }
    .hero-section .text p{
        font-size: 16px;
    }
/* Section 2: Skills */
    .skills-section .text{
        font-size: 14px;
    }
    /* SECTION 4: Contact */
    .contact-section .group {
        flex-direction: column;
    }
     nav .right a span {
        display: none;
    }
    .contact-section h2{
        text-align: center;
    }
    .contact-section .group .text {
    text-align: center;    }
}
@media (max-width:600px) {
    nav{
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0px;
    }

    /* SECTION 1: Hero */
    .hero-section {
        padding: 40px 20px;;
    }
    .hero-section .text h2 {
        font-size: 28px;
    }
    .hero-section .text p{
        font-size: 14px;
    }

    /* SECTION 2: Skills */

    .skills-section {
        padding: 0 20px;
    }
    .skills-section .text{
        font-size: 14px;
    }
    .skills-section .cells .cell span{
        font-size: 16px;
    }
    /* SECTION 4: Contact */
    .contact-section {
        padding: 0 20px;
    }
}
